@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-three: #B9A1F2;
    --color-text: #1E1E1E;
    --color-text2: #777777;
    --font: "EB Garamond", sans-serif;
}
.menuu{
    border: none;
    width: 120%;
    font-size: 25px;
    justify-content: space-around;
    background: transparent;
    align-items: center;
    margin-right:80px ;
    font-family: var(--font);

}